.colored-background {
    width: 100%;
    height: 100%;

    /* #TODO move to another element */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-form {
    width: 300px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}